{% extends 'seller_base.html' %}

{% block title %}Seller Login Page{% endblock %}
  <body>
    <!--Navbar -->
    <div class="">
    </div>
    <!-- / navbar-->


    {% comment %} <hr>
    <div class="container">
        <label for="cars">Choose product type:</label>
        <select id="ptype" name="cars" Required="Required" onchange="ptype()">
        <option></option>
            <option value="volvo">Electronics</option>
            <option value="saab">Fashion</option>
            <option value="fiat">Study material</option>
            <option value="audi">Food</option>
        </select>
        </div>
        <strong>Taging</strong>
        <textarea id="taging" name="taging"></textarea>
        <input id="txt1" type="text" name="p_name" placeholder="product name">
        <input id="txt1" type="text" name="p_brand" placeholder="Brand">
        <input id="txt1" type="text" name="p_price" placeholder="Price">
        <input id="txt1" type="text" name="p_Description" placeholder="Description">
        <input id="txt1" type="text" name="p_name" placeholder="product name">
        <input type="submit" name="btn" name="submit">
    </div> {% endcomment %}


    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
